@charset "utf-8";
html {
    scroll-behavior: smooth;
box-sizing: border-box;
}

/* 表示切替 */
.spOnly {
    display: block;
}

.pcOnly {
    display: none;
}
html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    line-height: 1.6;
    font-family: '游ゴシック', 'Yu Gothic', 'ヒラギノ角ゴ ProN',
        'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
}
header{
    z-index: 1;
}

.wrapper {
    max-width: 1200px;/* 最大幅を1200pxに制限 */
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 1;/* 背景より前 */
    
}


header,
footer {
    background-color: rgba(51, 51, 51, 0.3);
    color: white;
    text-align: center;
    padding: 5px;
}

/*メインのコンテンツについて*/
   main {
    padding: 20px;
}

/* 画像に関する設定 */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

h2 {
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    padding: 3%;
}

/*見出しと飾り*/
    h3 {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        display: block;
        padding: 0.5rem;
        margin: 50px auto;
    }
    
h3 .moreSubTitle {
    font-size: 0.7rem;
    line-height: 0;
}

    .bi.bi-stars {/*←BOOTstrapCDNのアイコン。*/
        font-size: 24px;
        color:rgb(142, 199, 245);
        display: inline-block;
        transform-origin: center;
        transform: rotate(60deg);

    }

   .beforeStar::before {
  transform: scale(-1, 1);
}


/* 共通ヘッダー */
.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.titleImg {
    border: 1px solid #fff;
    padding: 3%; 
}

/* ハンバーガー & クローズボタン */

#js-open-btn,
#js-close-btn {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

/* ドロワー（スマホ用） */
#js-drawer-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(146, 50, 122, 0.7);
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    z-index: 100;
    visibility: hidden;
}

/* ドロワー表示時 */
#js-drawer-menu.show {
    transform: translateX(0);
    visibility: visible;
}

/* クローズボタン */
#js-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
}

/* ドロワーメニューリスト */
.drawerMenu ul {
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
    font-size: 24px;
    color: #ffffffa8;
    text-align: center;
    line-height: 1.6;
}

.drawerMenu ul li {
    margin-bottom: 24px;
    background-color: transparent;
    /* 背景透明 */
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.drawerMenu ul li:first-of-type {
    font-size: 36px;
    background-color: rgba(61, 20, 51, 0);
    /* 「Menu」も透明に */
    margin-top: 36px;
    margin-bottom: 36px;
    border : none;
    text-transform: uppercase;
}


/*リンク、アコーディオンメニュー*/
summary {
    font-size: 1.1rem;
    margin-bottom: 3rem;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 0.2rem;
    width: 60%;
    margin-left: auto;
    background-color:rgba(168, 112, 161, 0.808);
    box-shadow: 5px 5px 10px  rgba(51, 51, 51, 0.525);
    color: #fff; 
}

summary::-webkit-details-marker {
    display: none;
}


.workLinks {
    margin-bottom: 20px;

}

.worksList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.workTitle {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.workSubTitle {
    font-size: 0.8rem;
}

.workCaption {
    border: 1px solid #333;
    border-radius: 20px;
    padding: 10px;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 3rem;
}

.workLink a:hover,
.workLink a:focus {
    opacity: 0.85;
    transform: translateY(-2px);
    transition: 0.3s;
}

.aiWorks2Img1 {
    background-image: url(../images/nyuutaisituImg.png);
   background-size: contain;
   opacity: 0.7; 
}

.aiWorks2Img2 {
    background-image: url(../images/oxQuizImg.png);
   background-size: contain;
   opacity: 0.7; 
}

.workLink a {
    display: block;
    /* ボタン化 */
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    text-align: center;
    line-height: 180px;
    /* 縦中央寄せ */
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    font-size: 1rem;
    box-shadow:  5px 5px 10px  rgba(51, 51, 51, 0.525);
}

.fontColor1{
    color: rgb(255, 255, 255);
   text-shadow:
  2px 2px 3px #333,
  -2px -2px 3px #333,
  0 0 2em #000,
  0 0 1em #000;
}


.fontColor2{
    color: rgb(255, 255, 255);
    text-shadow:
  0px 0px 1px ,
  0 0 2em #757575,
  0 0 1em #757575;
}

.worksAtend {
        position:relative;
        display: flex;
        width: 100vw;
        height: 30vh;
        overflow: hidden;
        overflow-x: auto;
        scroll-snap-type: x mandatory;/* スナップ（ピタッと止まる）させる */
        -webkit-overflow-scrolling: touch;/*iosへの対応のため*/
        margin-left: -20px;
    
    }

    .worksAtend .worksAtendImg {
        display: flex;
        flex-shrink: 0;
        height: 100%;
        align-items: center;
        flex-shrink:0;
    }

    .worksAtend .worksAtendImg img {
        scroll-snap-align: center;
        width: auto;
        height:100%;/*画像の拡大分の余白をとるため*/
        flex-shrink: 0;
        object-fit: cover;
    }


/*上に戻るボタン*/
.toPageTop {
    width: 60px;
    height: 60px;
    z-index: 10;
    background-color: rgba(105, 105, 102, 0.3);
    border-radius: 50%;
    position: fixed;
    bottom: 10vw;
    right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
/*背景画像設定*/
.backImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -20;
    opacity: 0.3;
    background-size: cover;
    background-position: center;
    animation: changeImg 120s infinite;
    background-image: url('');
    background-repeat: no-repeat;
}


@keyframes changeImg {

    0%,
    100% {
        background-image: url('../../../common/images/time1.png');
    }

    25% {
        background-image: url('../../../common/images/time2.png');
    }

    50% {
        background-image: url('../../../common/images/time3.png');
    }

    75% {
        background-image: url('../../../common/images/time4.png');
    }
}


/* メディアクエリ：タブレット以上（768px以上） */
@media only screen and (min-width: 768px) {
    /* PCではドロワー非表示、横並びメニュー表示 */
    /* スマホ用要素非表示 */
    .spOnly {
        display: none;
    }

    /* PC用要素表示 */
    .pcOnly {
        display: block;
    }

        /* ドロワーは非表示 */
        #js-drawer-menu {
            display: none;
        }

        
    body main {
        width: 100%;
        max-width: 1200px;
        padding: 30px;
        margin: 0 auto;    
        overflow: hidden;
        list-style: none;
    }

    /* ヘッダーとフッターの文字サイズを少し大きく */
    header,
    footer {
        font-size: 18px;
        padding: 20px;
    }

    h2 {
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
    padding: 3%;
}

    h3 {
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 100px;
    }

    .moreSubTitle {
    font-size: 0.7rem;
    line-height: 0;
}

h4 {
    font-weight: bold;
}


    /* メインコンテンツの余白と文字サイズを調整 */
    main {
        font-size: 18px;
        padding: 30px;
    }
img {
    max-width: 100%;
    height: auto;
    display: block;
}
    /* 画像の最大幅を1200pxに制限 */
    img {
        max-width: 1200px;
        margin: 0 auto;
        
    }

    /* 必要に応じてPC版レイアウトを調整 */
    .nav {
        display: flex;
        justify-content: space-around;
        /* ナビゲーションメニューを水平に並べる */
    }

    /* PCメニュー */
    .pcMenu ul {
        display: flex;
        gap: 24px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .pcMenu ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }

 

    /* 制作物リンク、アコーディオンメニュー */

summary {
    font-size: 1.1rem;
    margin-bottom: 3rem;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 0.2rem;
    width: 30%
;
    margin-left: auto;
    background-color:rgba(168, 112, 161, 0.808);
    box-shadow: 5px 5px 10px  rgba(51, 51, 51, 0.525);
    color: #fff; 
    margin-top:3rem;
}

.workLinks {
    display: flex;
    justify-content: space-between;
}

.workLinksMore {
    display: flex;
    justify-content: center;/*項目増やすなら変更*/
}

.workLinks p,.workLinksMore p  {
    width: 90%;

}

.workLinks p a,.workLinksMore p a {
    display: inline-block;
    padding: 2rem;
}

.worksList {
    display: flex;
    flex-direction: column;
}

.workLink {
    display: block;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
       font-weight: bold;
    margin-bottom: 0.5rem;
    transition: 0.3s;
    
}
.workLink a:hover {
    background-color: #fff459;
}


/* 上に戻るボタン */
.toPageTop {
    position: fixed;
    bottom: 2.5vw;
    right: 5vw;
    z-index: 20;
    width: 100px;
    height: 100px;
}

.toPageTop img {
    width: 50px;
    height: 50px;
    opacity: 0.8;
    transition: 0.3s;
}

.toPageTop img:hover {
    opacity: 1;
}

/*カルーセルのようなもの（PCのみの挙動）*/

/*簡易カルーセル的なもの*/

    .worksAtend {
        position:relative;
        display: flex;
        width: 100vw;
        height: 30vh;
        overflow: hidden;
        margin-left: -100px;
    }

    .worksAtend .worksAtendImg {
        display: flex;
        flex-shrink: 0;
        height: 100%;
        align-items: center;
        animation: loop 50s  linear infinite; 
        flex-shrink:0;
    }

    .worksAtend .worksAtendImg img {
        width: auto;
        height:80%;/*画像の拡大分の余白をとるため*/
        flex-shrink: 0;
        object-fit: cover;
    }

    

    @keyframes loop {
        0% {transform: translateX(0%);}

        100% {
            transform: translateX(-100%);
        }
    }



 .worksAtend:has(img:hover) .worksAtendImg {
    animation-play-state: paused;}

 .worksAtend:has(img:hover) img {
    animation-play-state: paused;
    transition: filter 0.3s, opacity 0.3s;
    filter: blur(5px) brightness(90%);
    opacity: 0.5;
}

.worksAtend img:hover {
    scale: 1.2;
     filter: blur(0px) brightness(105%)!important;
     z-index: 10!important;
     opacity:1!important;
     border-radius: 10px;
}

}