@charset "UTF-8";

html {
    scroll-behavior: smooth;
box-sizing: border-box;
}

/* 表示切替 */
.spOnly {
    display: block;
}

.pcOnly {
    display: none;
}


html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: '游ゴシック', 'Yu Gothic', 'ヒラギノ角ゴ ProN',
        'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
}


header{
    z-index: 1;
}

.wrapper {
    max-width: 1200px;/* 最大幅を1200pxに制限 */
    margin: 0 auto;
    padding: 0px;
    position: relative;
    z-index: 1;/* 背景より前 */
    
    text-align: center;/*念のため*/
}





header,
footer {
    background-color: rgba(51, 51, 51, 0.3);
    color: white;
    text-align: center;
    padding: 5px;
}




/*メインのコンテンツについて*/
   main {
    padding: 20px;
    margin-bottom: 50px;
}

/* 画像に関する設定 */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

h2 {
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    padding: 3%;
}


/* 共通ヘッダー */
.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.titleImg {
    border: 1px solid #fff;
    padding: 3%; 
}

/* ハンバーガー & クローズボタン */

#js-open-btn,
#js-close-btn {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

/* ドロワー（スマホ用） */
#js-drawer-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(146, 50, 122, 0.7);
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    z-index: 100;
    visibility: hidden;
}

/* ドロワー表示時 */
#js-drawer-menu.show {
    transform: translateX(0);
    visibility: visible;
}

/* クローズボタン */
#js-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
}

/* ドロワーメニューリスト */
.drawerMenu ul {
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
    font-size: 24px;
    color: #ffffffa8;
    text-align: center;
    line-height: 1.6;
}

.drawerMenu ul li {
    margin-bottom: 24px;
    background-color: transparent;
    /* 背景透明 */
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.drawerMenu ul li:first-of-type {
    font-size: 36px;
    background-color: rgba(61, 20, 51, 0);
    /* 「Menu」も透明に */
    margin-top: 36px;
    margin-bottom: 36px;
    border : none;
    text-transform: uppercase;
}




/*見出しと飾り*/
    h3 {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        display: block;
        padding: 0.5rem;
        margin: 50px auto;
    }

    .bi.bi-stars {/*←BOOTstrapCDNのアイコン。*/
        font-size: 24px;
        color:rgb(142, 199, 245);
        display: inline-block;
        transform-origin: center;
        transform: rotate(60deg);

    }

   .beforeStar::before {
  transform: scale(-1, 1);
}

.moreSubTitle {
    font-size: 0.7rem;
    line-height: 0;
}

/*リンク、アコーディオンメニュー*/

.workLinks {
    margin-bottom: 0px;

}

.workLink span {
    display: inline-block;
}

.linkBox {/*２個ごとの画像ボタンの親*/
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;

}

.modalWrapper {
    width: 100%;
}


summary::-webkit-details-marker {
    display: none;
}
.workLink {/*moreだけモーダル化するのでsummaryになっている*/
    display: flex;
    align-items: center;
    list-style: none;
}

.workLink span:hover,
.workLink span:focus {
    opacity: 0.85;
    transform: translateY(-2px);
    transition: 0.3s;
}

.workLink span {/*ボタンにあたる部分*/
    display: block;
   
    background-size: cover;
    background-position: center;
    object-fit: cover;
    text-align: center;
    line-height: 80px;
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    aspect-ratio: 1/1;
    font-size: 0.8rem;
    box-shadow:  5px 5px 10px  rgba(51, 51, 51, 0.525);
}

.fontColor1{
    color: rgb(255, 255, 255);
   text-shadow:
  2px 2px 3px #333,
  -2px -2px 3px #333,
  0 0 2em #000,
  0 0 1em #000;
}

.fontColor2{
    color: rgb(255, 255, 255);
    text-shadow:
  0px 0px 1px ,
  0 0 2em #757575,
  0 0 1em #757575;
}

.worksMoreItem {/*ここで画像の大きさを調節*/
    width: 80%;
    aspect-ratio: 1/1;
}

.worksMore1{
    background-image: url("../images/item1.png");
}
.worksMore2 {
    background-image: url("../images/item2.png");
}
.worksMore3 {
    background-image: url("../images/item3.png");
}
.worksMore4 {
    background-image: url("../images/item4.png");
}
.worksMore5 {
    background-image: url("../images/item5.png");
}
.worksMore6 {
    background-image: url("../images/item6.png");
}
.worksMore7 {
    background-image: url("../images/item7.png");
}
.worksMore8 {
    background-image: url("../images/item8.png");
}
.worksMore9 {
    background-image: url("../images/item9.png");
}
.worksMore10 {
    background-image: url("../images/item10.png");
}
.worksMore11 {
    background-image: url("../images/item11.png");
}
.worksMore12 {
    background-image: url("../images/item12.png");
}

h4 {
    font-weight: bold;
}

body.stop {
  overflow: hidden;
}

.modalItem {/*モーダルが開いているときの中身（details内のdiv)*/
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    margin: 0 auto;
    height: 100vh;
    background-color: rgb(94, 93, 93,0.5);
    border-radius: 2px;
}

.modalItem span {
    position: fixed;
    top: 10vh;
    right: 0;
    left: 0;
    max-width: 80vw;
    margin: 0 auto;
    
    object-fit: contain;
    color: #fff;
}

.modalItem span img{
    max-width: 80vw;
    margin: 0 auto;
    height: 60vh;
    object-fit: contain;
    color: #fff;
    margin-bottom: 1rem;
}



/*上に戻るボタン*/
.toPageTop {
    width: 60px;
    height: 60px;
    z-index: 10;
    background-color: rgba(105, 105, 102, 0.3);
    border-radius: 50%;
    position: fixed;
    bottom: 10vw;
    right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upBtn {
    width: 45px;
    height: 45px;
     opacity: 0.7;
}

address {
    text-align: center;
}


@media only screen and (min-width: px) {
    /*本人イメージ画像が大きすぎるので調整*/

}


/* メディアクエリ：タブレット以上（768px以上） */
@media only screen and (min-width: 768px) {
    /* PCではドロワー非表示、横並びメニュー表示 */
    /* スマホ用要素非表示 */
    .spOnly {
        display: none;
    }

    /* PC用要素表示 */
    .pcOnly {
        display: block;
    }

        /* ドロワーは非表示 */
        #js-drawer-menu {
            display: none;
        }

       
       
        
    body main {
        width: 100%;
        max-width: 1200px;
        padding: 30px;
        margin: 0 auto;    
    }

    /* ヘッダーとフッターの文字サイズを少し大きく */
    header,
    footer {
        font-size: 18px;
        padding: 20px;
    }



    h2 {
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
    padding: 3%;
}

    h3 {
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 50px;
    }

    h3 .moreSubTitle {
        font-size: 0.7rem;
        line-height: 0;
    }

.modalItem span {
    position: fixed;
    top: 10vh;
    right: 0;
    left: 0;
    max-width: 80vw;
    margin: 0 auto;
    
    object-fit: contain;
    color: #fff;
}

.modalItem span img{
    width: 60vw;
    margin: 0 auto;
    height: 70vh;
    object-fit: contain;
    color: #fff;
    margin-bottom: 1rem;
}


    /* メインコンテンツの余白と文字サイズを調整 */
    main {
        font-size: 18px;
        padding: 30px;
    }

        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    /* 画像の最大幅を1200pxに制限 */
    img {
        max-width: 1200px;
        margin: 0 auto;
        
    }

    /* 必要に応じてPC版レイアウトを調整 */
    .nav {
        display: flex;
        justify-content: space-around;
        /* ナビゲーションメニューを水平に並べる */
    }

    /* PCメニュー */
    .pcMenu ul {
        display: flex;
        gap: 24px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .pcMenu ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }

    

.workLink span{
    font-size: 1rem;
    padding: 0;
}

 


.linkBox {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 45%;
}

.worksMoreItem {
 
    aspect-ratio: 1/1;
}



.workLinks {
    display: flex;
    justify-content:center;
    gap: 20px;
}

.worksList span {
    display: inline-block;
    padding: 2rem;
}

.worksList {
     width: 90%;
    display: flex;
    flex-direction: column;
}

.workLink {
    display: block;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
       font-weight: bold;
    margin-bottom: 0.5rem;
    transition: 0.3s;
}

.workLink span:hover {
    background-color: #fff459;
}

/* 上に戻るボタン */
.toPageTop {
    position: fixed;
    bottom: 2.5vw;
    right: 5vw;
    z-index: 2;
}
/* 上に戻るボタン */
.toPageTop {
    position: fixed;
    bottom: 2.5vw;
    right: 5vw;
    z-index: 2;
    width: 100px;
    height: 100px;
}

.toPageTop img {
    width: 50px;
    height: 50px;
    opacity: 0.8;
    transition: 0.3s;
}

.toPageTop img:hover {
    opacity: 1;
}
}