.worksAtend {
    display: flex;
    position: relative;
}

.worksAtendImg {
    display: flex;
    animation: In 30s linear infinite;
}

.worksAtendImg img {
    transition: scale .5s;
}

.worksAtendImg:has(img:hover) {
    z-index: 10;
}/*imgだけでなく親要素のスタイルも変更*/

.worksAtendImg img:hover {
    scale: 1.1;
}
/*停止しているとき*/
.worksAtendIn_Stop {
    animation-play-state: paused;
}/*animation-play-state=*/

@keyframes In {
    0% {
        translate: 0;
    }
    100% {
        translate: -100%;
    }
}