@charset "utf-8";
/*文字*/
body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    max-width: 375px;
}
img {
    max-width: 100%;
}
html {scroll-behavior: smooth;}


/*sns画像サイズ*/
.sns img {
    width: 32px;
    height: 32px;
}
.sns img[src="images/twitter.png"] {
    width: 38.9px;
    height: 32px;
}

/*トップビュー*/
.topSec {
    width: 375px;
    height: 667px;
    background: url(../images/topPhotoSP.png) no-repeat;
    background-size: cover;
}
/*タイトルtaiwan*/
.topSec p {
    width: 335px;
    padding-top: 200px;
    margin: 0 auto;
}
/*sns縦並び*/
.topSec .sns {
    height: 139px;
    position: absolute;
    top: 461px;
    left: 20px;
}
.topSec .sns dt {
    margin-bottom: 20px;
}
.topSec .sns dt:last-of-type {
    margin-bottom: 0;
}

/*main*/
/*共通項・全体の余白等*/
.gallerySec,
.travelSec,
.eventSec {
    max-width: 375px;
    padding-top: 20px;
}
.travelSec,
.eventSec {
    padding-bottom: 60px;
}
.gallery {
    padding-bottom: 40px;
}

/*見出し*/
.midashi {
    margin-bottom: 60px;
}
.midashi h2 {
    background: url(../images/midashiLine.png) no-repeat center/contain;
    width: 220px;
    margin: 0 auto;
    font-size: 24px;
    padding: 8px 26px;
}
.midashi span {
    font-size: 12px;
}
.midashi, h3 {
    text-align: center;
}
/*区切り線*/
hr {
    width: 223px;
    margin: 0 auto;
}

/*フォルモサ*/
.formosa1, .formosa2 {
    width: 375px;
    height: 407px;
}
.formosa1 {
    background: linear-gradient(#F4F4F499, #F4F4F499), url(../images/formosa1.png) no-repeat;
    background-size: cover;
    background-position: 75% 0;
    padding: 20px 0 60px;
}
.formosa2 {
    background: linear-gradient(#F4F4F499, #F4F4F499), url(../images/formosa2.png) no-repeat;
    background-size: cover;
    background-position: 60% 20%;
    padding: 20px 0 60px;
}
.formosa1 h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 60px;
}
.formosa1 h1 span {
    font-size: 12px;
    border-bottom: 1px solid #000000;
    padding-bottom: 12px;
}
.formosaFlag {
    width: 32px;
    height: 24px;
    margin: 0 171.5px 40px;
}
.formosaText {
    width: 223px;
    margin: 0 auto 60px;
}
.formosaText p {
    font-size: 12px;
    padding: 12px 0;
}
.formosa1 p,
.formosa2 > p {
    width: 335px;
    margin: 0 auto;
}

/*ギャラリー*/
/*スライド外枠*/
.silideWrap {
  width: 375px;
  height: 565px;
  overflow: hidden; /* はみ出したスライドを隠す */
  margin: 0 auto;
}
/*スライドのみ*/
.slide {
    display: flex;
    margin-bottom: 20px;
    transition: all 0.6s;
}
.slide div {
    width: 295px;
    /* height: 467px; */
    object-fit: cover;
    margin: 0 10px;
    flex-shrink: 0;
}
/*左右ボタン*/
.indicator img {
    width: 30px;
    height: 30px;
}
.prev {
    display: none;
    z-index: 10;
    cursor: pointer;
    transform: rotate(180deg);
}
.next {
    display: none;
}

/*インディケーター*/
.indicator {
    list-style: none;
    display: flex;
    width: 375px;
    height: 18px;
    justify-content: center;
}
.indicator .list {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #8F8F8F;
  cursor: pointer;
  margin: 0 20px;
}
.indicator ul li:nth-of-type(2) {
  background-color: #000000;
}

/*トラベル*/
.travelText {
    width: 223px;
    margin: 0 auto 60.2px;
}
.travelText p {
    font-size: 12px;
    padding: 12px 0;
}
.travelText .horizon {
    width: 220.98px;
}
.travelMap {
    width: 255px;
    height: 406.8px;
    margin: 0 auto 60px;
    position: relative;
}
.taiwanMap {
    /* width: 180px; */
    height: 355px;
    object-fit: contain;
    padding: 0 38px 0 37px;
}
.mapLink img {
    width: 59px;
    height: 126px;
}
.tpLink {
    position: absolute;
    top: 54.8px;
    right: 0;
}
.tcLink {
    position: absolute;
    top: 82.42px;
    left: 0;
}
.tnLink {
    position: absolute;
    bottom: 0;
    left: 52px;
}

/*イベント*/
.event {
    width: 335px;
    margin: 0 auto;
}
.lantern {
    margin-bottom: 40px;
}
.event h3 {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
}
.event img {
    width: 335px;
    height: 194px;
    object-fit: cover;
    margin-bottom: 20px;
}
.eventText {
    width: 223px;
    margin: 0 auto;
}
.eventText p {
    font-size: 12px;
    padding: 12px 0;
}
.eventDates {
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 1.667; /*行間8px*/
    text-align: center;
}
.eventDates span {
    font-weight: bold;
}


/*基本情報*/
.profileSec {
    padding: 20px 0 60px;
}
.profile {
    width: 335px;
    height: 544px;
    border: 1px solid #000000;
    margin: 0 auto;
}
.profile h4 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 40px;
}
.profile dl {
    width: 295px;
    height: 192px;
    margin: 0 auto 40px;
    line-height: 1.6;
    font-size: 12px;
}
.profile dt {
    font-weight: normal;
}


/*footer*/
footer {
    background-color: #007AB7;
}
/*国旗*/
footer .footFlag {
    padding-top: 20px;
}
footer .footFlag img {
    width: 32px;
    height: 24px;
    margin: 0 auto;
}
/*footerナビ*/
footer ul {
    max-width: 195px;
    margin: 20px auto 84px;
}
footer ul li {
    font-size: 12px;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 12px 0 6px; 
}
footer ul li:first-of-type {
    padding: 0 0 6px;
}
.logoSns {
    display: flex;
    position: relative;
}
/*footerロゴ*/
footer .footLogo {
    width: 71px;
    height: 28px;
    position: absolute;
    bottom: 12px;
    left: 20px;
}
/*sns横並びアイコン*/
footer .sns {
    width: 142px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 12px;
    left: 115px;
}

/*コピーライト*/
footer p {
    font-size: 10px;
    color: #ffffff;
    border-top: 1px solid #03A9F4;
    padding: 12px 0 12px;
    text-align: center;
}

/*▽ここからヘッダーとドロワーに必要です
注）TOPのみの仕様　SPヘッダーロゴなし*/
/*ヘッダー*/
header {
  height: 53px;
  width: 100%;/*375px;*/
  z-index: 100;
  position: absolute;
  display: flex;
  align-items: center;
}

.headerLogo{
width: 111px;
height: 45px;
opacity: 0;/*TOPのみの仕様　透明化*/
/*並びが崩れるので取り除かずに透明にしてあります*/
}


/*ヘッダー内
ここからドロワー部分 
ドロワーとしての動きが異なるので、
教科書と同じ記述にはなりませんでした。
JSの変更点はJS内のコメントアウトでお知らせします。
*/

.headerContainer {
  display: flex;/*ヘッダー内の要素は横並び*/
}

/*ヘッダー内　z-index注意
ドロワークローズ時のメニュの状態ー*/
.drawerOpen{/*ドロワーアイコンの場所指定*/
  position: fixed;
  left: 323px;/*ここを教科書と同じにしようとするとうまくいかなくなる*/
  top: 4px;
  width: 45px;
  height: 45px;

  z-index:110;
  /*ここがページの他の部分より上、
  かつモーダルより下になるようにしてください。
  ドロワー用のオーバーレイよりも上です*/

  background: transparent;/*背景を透明にする*/
  border: none;/*背景をなくす*/
  cursor: pointer;/*手の形に変化*/
  align-self: center;
}


/*機能実装に必要な
ドロワーメニューのスタイル　z-index注意*/
#drawerNav {
  top: 0;
  position: fixed;
  left: 375px;/* 要調整　初期位置：ナビメニューの幅分だけ画面外へ */
  width: 225px;
  height: 100vh;

  z-index: 200;
  /* header より前。モーダルよりは上*/

  background-color: rgba(0, 122, 183, 0.9);
  transition: transform 0.3s ease-out;
  color: #fff;
  line-height: 1;
}

#drawerNav.show {
  /*showが付与された後の状態に対して*/
  /* ←画面内へ */
  transform: translateX(-225px);/* 右から画面内へスライドイン */
}

/*ドロワー内のリスト*/
#drawerNav ul li {
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 1px;/*下線の太さを細く調整*/
  font-size: 20px;
}

/*リストの１番目だけ指定*/
#drawerNav ul li:first-of-type{
  font-size: 24px;
  text-decoration: none;
  margin-bottom: 60px;
  margin-top: 80px;
}
/*リストの2番目だけ指定*/
#drawerNav ul li:nth-of-type(2) {
  margin-bottom: 40px;
}

/*ドロワーのロゴ*/
.drawerLogo {
  width: 101px;
  height:40px;
}



/*閉じる×ボタンのスタイル設定*/
.drawerClose {
  position: absolute;
  left: 173px;/*左端からの距離*/
  top: 4px;

  width: 45px;
  height: 45px;
  z-index: 210;/*順番表あり*/
  background: transparent;/*背景は透明　noneでも可*/
  border: none;/*境界は透明*/
  cursor: pointer;
}


/*追加　オーバーレイ　
ドロワーが開いているとき、オーバーレイ
＝後ろのページを暗くして表示　figmaの指定により*/
#overLay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 80;
  display: none;

}

#overLay.show {
  display: block;
}

/*△ドロワーモバイル版に必要個所ここまで*/



/*ここからローディング画面　（HT）*/
body, 
main {
  margin: 0;
  background-color: #fff;
  /* 通常コンテンツは白 */
}

#loadingOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #007AB7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  width: 100vw;
  height: 100vh;
}

.loadingLogo {
  width: 76vw;
  height: 14.4vh;
  opacity: 0;/*はじめは消しておく*/
  animation-name: blinkSp;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

/* blink=点滅 */
@keyframes blinkSp {
  0% {
   opacity: 0;/* 完全に透明 */
  }
    80% {
       opacity: 1;/* 完全に表示 */
    }
  100% {
    opacity: 0;/* 完全に透明 */
  }
}

/* Loading が消える */
#loadingOverlay.hide {
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% { 
    opacity: 1; 
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*ページ内TOPへ戻るボタン 1215追加*/
/*上に戻るアイコンの指定*/
.toPageTop {
  position: fixed;
  right: 8px;/*配置位置　上のドロワーのボタンの固定位置と似たような配置*/
  bottom: 8px;
  z-index: 300;
}

/*上に戻るアイコンの大きさ*/
.toPageTop img {
  width: 48px;
  height: 48px;
  transform: rotate(270deg);/*アイコンの矢印を上向きにする*/
}


/*PC*//*詳細*/
@media screen and (min-width: 768px) {
    body {
        width: 100%;
        max-width: 1366px;
    }

    /*top*/
    .topSec {
        width: 1366px;
        height: 768px;
        background: url(../images/topPhotoPC.png) no-repeat;
        background-size: cover;
    }
    /*タイトルtaiwan*/
    .topSec p {
        width: 780px;
        margin: 0;
        padding-top: 174px;
        padding-left: 223px;
    }
    /*sns縦並び*/
    .topSec .sns {
        height: 139px;
        position: absolute;
        top: 512px;
        left: 103px;
    }
    .topSec .sns dt {
        margin-bottom: 20px;
    }
    .topSec .sns dt:last-of-type {
        margin-bottom: 0;
    }

    /*main*/
    /*共通項・全体の余白等*/
    .gallerySec,
    .travelSec,
    .eventSec {
        max-width: 1366px;
        padding-bottom: 80px;
    }

    /*見出し*/
    .midashi {
        margin-bottom: 120px;
    }
    .midashi h2 {
        background: url(../images/midashiLine.png) no-repeat center/contain;
        width: 530px;
        margin: 0;
        font-size: 48px;
        padding: 24px 79px;
    }
    .midashi span {
        font-size: 24px;
    }
    .gallerySec .midashi {
        margin-bottom: 160px;
        margin-left: 103px;
    }
    .travelSec .midashi {
        padding-left: 733px;
    }
    .eventSec .midashi {
        margin-left: 103px;
    }
    .midashi, h3 {
        text-align: center;
    }
    /*区切り線*/
    hr {
        width: 420px;
        margin: 0 auto;
    }

    /*フォルモサ*/
    .formosa1, .formosa2 {
        width: 1366px;
        height: 458px;
        display: flex;
        justify-content: space-around;
    }
    .formosa1 {
        background: linear-gradient(#F4F4F499, #F4F4F499), url(../images/formosa1.png) no-repeat;
        background-size: cover;
        background-position: 0 50%;
        padding: 80px 0;
    }
    .formosa2 {
        background: linear-gradient(#F4F4F499, #F4F4F499), url(../images/formosa2.png) no-repeat;
        background-size: cover;
        background-position: 0 50%;
        padding: 80px 0;
    }
    .formosa1 h1 {
        font-size: 48px;
        text-align: left;
        margin-bottom: 0;
    }
    .formosa1 h1 span {
        font-size: 32px;
        padding-bottom: 20px;
    }
    .formosaFlag {
        width: 104px;
        height: 78px;
        margin: 0 0 100px 180px;
    }
    .formosaText {
        width: 420px;
        margin: 0;
    }
    .formosaText p {
        font-size: 20px;
        padding: 60px 0;
    }
    .formosa1 p,
    .formosa2 > p {
        width: 636px;
        height: 298px;
        margin: 0;
    }

    /*ギャラリー*/
    /*スライド外枠*/
    .silideWrap {
        width: 1366px;
        height: 671px;
    }
    /*スライドのみ*/
    .slide {
        display: flex;
        margin-bottom: 60px;
    }
    .slide div {
        margin: 0 40px;
    }
    /*左右ボタン*/
    .indicator img {
        width: 64px;
        height: 64px;
    }
    .prev, .next {
        display: block;
    }
    /* ↓ インジケーター */
    .indicator {
        list-style: none;
        display: flex;
        width: 628px;
        height: 64px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    .indicator .list {
        width: 28px;
        height: 28px;
        margin: 0;
        pointer-events: none;   /*クリック無効化*/
    }

    /*トラベル*/
    .travelSpot {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 80px;
    }
    .travelText {
        width: 420px;
        margin: 0;
    }
    .travelText p {
        font-size: 20px;
        padding: 60px 0;
    }
    .travelText .horizon {
        width: 420px;
    }
    .travelMap {
        width: 400px;
        height: 611px;
        margin: 0;
        position: relative;
        padding: 0 96px 0 79px;
    }
    .taiwanMap {
        height: 508px;
        object-fit: cover;
        padding: 0;
    }
    .mapLink img {
        width: 99px;
        height: 209px;
    }
    .tpLink {
        position: absolute;
        top: 61px;
        right: 0;
    }
    .tcLink {
        position: absolute;
        top: 90px;
        left: 0;
    }
    .tnLink {
        position: absolute;
        bottom: 0;
        left: 63px;
    }
    .travelSec > hr {
        width: 480px;
    }

    /*イベント*/
    .event {
        width: 1366px;
        margin: 0 103px;
    }
    .lantern {
        margin-bottom: 80px;
    }
    .lanternImgText,
    .countImgText {
        display: flex;
    }
    .event h3 {
        font-size: 36px;
        margin-bottom: 40px;
        line-height: 1.6;
        text-align: left;
    }
    .event img {
        width: 580px;
        height: 396px;
        margin-bottom: 0;
    }
    .eventText,
    .eventText hr {
        width: 314px;
    }
    .dateText {
        width: 580px;
        margin: 0 auto;
    }
    .eventText p {
        font-size: 20px;
        padding: 32px 0;
    }
    .eventDates {
        font-size: 20px;
        margin-bottom: 32px;
        line-height: 3.2;   /*行間32px*/
    }

    /*基本情報*/
    .profileSec {
        padding: 80px 0;
    }
    .profile {
        width: 1040px;
        height: 560px;
        border: 1px solid #000000;
        margin: 0 auto;
    }
    .profile h4 {
        font-size: 40px;
        margin: 40px 0 80px;
    }
    .file {
        display: flex;
        justify-content: space-around;
    }
    .profile dl {
        width: 450px;
        height: 320px;
        margin: 0;
        font-size: 20px;
    }

    /*footer*/
    footer {
        background-color: #007AB7;
        max-width: 1366px;
    }
    /*国旗*/
    footer .footFlag {
        padding-top: 40px;
    }
    footer .footFlag img {
        width: 64px;
        height: 48px;
        margin: 0 auto;
    }

    /*footerナビ*/
    footer ul {
        max-width: 332px;
        margin: 80px 0 20px 103px;
    }
    footer ul li {
        font-size: 20px;
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
        padding: 20px 0 12px; 
    }
    footer ul li:first-of-type {
        padding: 0 0 12px;
    }
    
    /*footerロゴ*/
    footer .footLogo {
        width: 256px;
        height: 103px;
        position: absolute;
        bottom: 20px;
        left: 555px;
    }
    /*sns横並びアイコン*/
    footer .sns {
        width: 182.9px;
        position: absolute;
        bottom: 20px;
        left: 1080.1px;
    }

    /*▽ここからドロワーに必要*/
    /* ヘッダー */
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;/*1366*/
        height: 94px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(0, 0, 0,0.25);
        padding: 0 8vw;/*103両端からのコンテンツまでの距離*/
        z-index: 200;
        text-align: center;
    }

    .headerLogo {
        width: 133px;
        height: 54px;
        opacity: 1;/*SP版で透明化していたロゴを表示*/
    }

    /* ドロワーを横並びのナビリンクに変換 */
    #drawerNav {
        position: static;/* 固定解除 */
        width: auto;
        height: auto;
        background: none;/* 背景を透明に */
        display: flex;/* 横並び */
        justify-content: flex-end;/* 右寄せ */
        align-items: center;
        transform: none;/* スライド解除 */
    }

    #drawerNav ul {
        display: flex;/* リンク横並び */
        gap: 30px;/* リンク間隔 */
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #drawerNav ul li {
        margin: auto 0px;
        text-align: center;
        text-decoration: none;
        font-size: 24px;
    }


    #drawerNav ul li:first-of-type {
        display: none;/* 「Menu」は非表示 must*/ 
    }
    #drawerNav ul li:nth-of-type(2) {
        /*リストの2番目だけ指定*/
        margin: auto 0px;
    }

    #drawerNav ul li a {
        text-decoration: none;/* must*/
        text-decoration-thickness: none;/* must*/
        font-size: 24px;
    
    }

    #drawerNav ul li a:hover {
        border-radius: 10px;/*角丸*/
        font-size: 28px;/*ちょっと大きくなる*/
        font-weight: bold;
        transition-duration: 300ms;
    }

    /* ドロワーボタンとオーバーレイとロゴ非表示 must*/
        .drawerOpen,
        .drawerLogo,
        #overLay,
        .drawerClose {
        display: none;
    }

/*△PCドロワーに必要な部分ここまで*/

    /*ここからPC版ローディング画面（HT）*/
    body,
    main {
    margin: 0;
    background-color: #fff;
    /* 通常コンテンツを白で表示 */
    }

    #loadingOverlay {
    position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;/*領域を隙間なく埋める＝100vw,100vhでも多分OK*/
    background: #007AB7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
    }

    .loadingLogo {
    width: 318px;
    height: 128px;
    opacity: 0;
    animation-name: blinkPc;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 0.8s;
    animation-iteration-count: infinite;
    }

    @keyframes blinkPc {
    0% {
        opacity: 0;
    }

    65% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
    }

    /*上に戻るアイコンの指定　1215追加*/
    .toPageTop {
        position: fixed;
        right: 20px;/*配置位置*/
        bottom: 20px;
    }

    /*上に戻るアイコンの大きさ*/
    .toPageTop img {
        width: 100px;
        height: 100px;
    }
}