@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

/* 表示切替 */
.spOnly {
    display: block;
}

.pcOnly {
    display: none;
}
.noSpam {
    display: none;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* 横方向のスクロールバーを非表示にする */
    box-sizing: border-box;
    line-height: 1.6;
    font-family: '游ゴシック', 'Yu Gothic', 'ヒラギノ角ゴ ProN',
        'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
}

body {
    font-size: 16px;
}
header{
    z-index: 1;
}

.wrapper {
    max-width: 1200px;/* 最大幅を1200pxに制限 */
    margin: 0 auto;/* 中央寄せ */
    padding: 20px;/* 内側の余白*/
    position: relative;
    z-index: 1;/* 背景より前に */
    /*width: 100%; 親要素に対して100%の幅 */
}

/*背景画像設定*/
.backImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -20;
    opacity: 0.3;
    background-size: cover;
    background-position: center;
    animation: changeImg 120s infinite;
    background-image: url('');
    background-repeat: no-repeat;
}


@keyframes changeImg {

    0%,
    100% {
        background-image: url('../images/time1.png');
    }

    25% {
        background-image: url('../images/time2.png');
    }

    50% {
        background-image: url('../images/time3.png');
    }

    75% {
        background-image: url('../images/time4.png');
    }
}


header,
footer {
    background-color: rgba(51, 51, 51, 0.3);
    color: white;
    text-align: center;
    padding: 5px;
}




/*メインのコンテンツについて*/
   main {
    padding: 20px;
}

/* 画像に関する設定 */
img {
    width: 100%;
    height: auto;
    /* アスペクト比を保ちながら高さを自動調整 */
}

h2 {
    margin-bottom: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    padding: 3%;
}


/* 共通ヘッダー */
.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.titleImg {
    border: 1px solid #fff;
    padding: 3%; 
}

/* ハンバーガー & クローズボタン */

#open_btn,
#closeBtnId {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

/* ドロワー（スマホ用） */
#drawerMenuId {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(146, 50, 122, 0.7);
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    z-index: 100;
    visibility: hidden;
}

/* ドロワー表示時 */
#drawerMenuId.show {
    transform: translateX(0);
    visibility: visible;
}

/* クローズボタン */
#closeBtnId {
    position: absolute;
    top: 12px;
    right: 12px;
}

/* ドロワーメニューリスト */
.drawerMenu ul {
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
    font-size: 24px;
    color: #ffffffa8;
    text-align: center;
    line-height: 1.6;
}

.drawerMenu ul li {
    margin-bottom: 24px;
    background-color: transparent;
    /* 背景透明 */
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.drawerMenu ul li:first-of-type {
    font-size: 36px;
    background-color: rgba(61, 20, 51, 0);
    /* 「Menu」も透明に */
    margin-top: 36px;
    margin-bottom: 36px;
    border : none;
    text-transform: uppercase;
}

/* 自己紹介 */
 .myName {
        font-size: 24px;
        background-color:rgb(252, 185, 222)
    }

    h3 {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        display: block;
        padding: 0.5rem;
    }

    .bi.bi-stars {/*←BOOTstrapCDNのアイコン。*/
        font-size: 24px;
        color:rgb(142, 199, 245);
        display: inline-block;
        transform-origin: center;
        transform: rotate(60deg);

    }

   .beforeStar::before {
  transform: scale(-1, 1);
}
h3 span {
    padding: 1rem;
}




.profileCard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 50px;
    
}

.skillsCard {
    margin-bottom: 50px;
}

.selfImg {
    width: 768px;
    max-width: 100%;
}

/*リンク*/
summary {
    font-size: 1.1rem;
    margin-bottom: 3rem;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 0.2rem;
    width: 60%;
    margin-left: 40%;
    background-color:rgba(168, 112, 161, 0.808);
    box-shadow: 5px 5px 10px  rgba(51, 51, 51, 0.525);
    color: #fff; 
}

summary::-webkit-details-marker {
    display: none;
}

/*summary::after {
    background-image: url();

}*/

.workLinks {
    margin-bottom: 20px;

}

.worksList {
    display: flex;
    flex-wrap: wrap;
}

.workTitle {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.workCaption {
    border: 1px solid #333;
    border-radius: 20px;
    padding: 10px;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 3rem;
}

.workLink a:hover,
.workLink a:focus {
    opacity: 0.85;
    transform: translateY(-2px);
    transition: 0.3s;
}

.workLink a {
    display: block;
    /* ボタン化の要 */
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    text-align: center;
    line-height: 180px;
    /* 縦中央寄せ */
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    font-size: 1rem;
    box-shadow:  5px 5px 10px  rgba(51, 51, 51, 0.525);
}

.fontColor1{
    color: rgb(255, 255, 255);
   text-shadow:
  2px 2px 3px #333,
  -2px -2px 3px #333,
  0 0 2em #000,
  0 0 1em #000;
}


.fontColor2{
    color: rgb(255, 255, 255);
    text-shadow:
  0px 0px 1px ,
  0 0 2em #757575,
  0 0 1em #757575;
}



.ex1Img1{
    background-image: url("../common/images/renovationImg.png");
}
.ex1Img2 {
    background-image: url("../common/images/renovationSourcesImg.png");
}
.ex2Img1 {
    background-image: url("../common/images/taiwanImg.png");
}
.ex2Img2 {
    background-image: url("../common/images/taiwanSourcesImg.png");
}
.ex3Img1 {
    background-image: url("../common/images/cconutsImg.png");
}
.ex3Img2 {
    background-image: url("../common/images/ccdonutsSourcesImg.png");
}

h4 {
    font-weight: bold;
}



/*上に戻るボタン*/
.toPageTop {
    width: 60px;
    height: 60px;
    z-index: 10;
    background-color: rgba(105, 105, 102, 0.3);
    border-radius: 50%;
    position: fixed;
    bottom: 10vw;
    right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upBtn {
    width: 45px;
    height: 45px;
     opacity: 0.7;
}

address {
    text-align: center;
}



/* メディアクエリ：タブレット以上（768px以上） */
@media only screen and (min-width: 768px) {
    /* PCではドロワー非表示、横並びメニュー表示 */
    /* スマホ用要素非表示 */
    .spOnly {
        display: none;
    }

    /* PC用要素表示 */
    .pcOnly {
        display: block;
    }

        /* ドロワーは非表示 */
        #drawerMenuId {
            display: none;
        }

       
        /* PCメニュー横並び */
        .pcMenu ul {
            display: flex;
            gap: 24px;
            list-style: none;
            margin: 0;
            padding: 0;
        }
    
        .pcMenu ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 18px;
        }
        
    body main {
        width: 100%;
        max-width: 1200px;
        /* 最大幅 */
        padding: 30px;
        /* より広い余白 */
        margin: 0 auto;    
    }

    /* ヘッダーとフッターの文字サイズを少し大きく */
    header,
    footer {
        font-size: 18px;
        padding: 20px;
    }

    .myName {
        font-size: 32px;
    }

    h2 {
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
    padding: 3%;
}

    h3 {
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
    }



    /* メインコンテンツの余白と文字サイズを調整 */
    main {
        font-size: 18px;
        padding: 30px;
    }

    /* 画像の最大幅を1200pxに制限 */
    img {
        max-width: 1200px;
        margin: 0 auto;
        /* 中央寄せ */
    }

    /* 必要に応じてPC版レイアウトを調整 */
    .nav {
        display: flex;
        justify-content: space-around;
        /* ナビゲーションメニューを水平に並べる */
    }

    /* PCメニュー */
    .pcMenu ul {
        display: flex;
        gap: 24px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .pcMenu ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }

    .profileImage img {
        width: 200px;
        height: auto;
        border-radius: 10px;
    }

/*自己紹介セクション*/

.profileCard {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 50px;
    justify-content: space-evenly;
}
/*スキル紹介*/
.skillsList {
    width: 50%;
    margin: 0 auto;
    /*text-align:center;*/
}
/* 制作物リンク */

summary {
    font-size: 1.1rem;
    margin-bottom: 3rem;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 0.2rem;
    width: 20%;
    margin-left: 75%;
    background-color:rgba(168, 112, 161, 0.808);
    box-shadow: 5px 5px 10px  rgba(51, 51, 51, 0.525);
    color: #fff; 
    margin-top:3rem;
}

.workLinks {
    display: flex;
    justify-content: space-between;
}

.workLinks p  {
    width: 90%;

}

.workLinks p a {
    display: inline-block;
    padding: 2rem;
}

.worksList {
    display: flex;
    flex-direction: column;
}

.workLink {
    display: block;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
       font-weight: bold;
    margin-bottom: 0.5rem;
    transition: 0.3s;
}
.workLink a:hover {
    background-color: #fff459;
}
/* 上に戻るボタン */
.toPageTop {
    position: fixed;
    bottom: 2.5vw;
    right: 5vw;
    z-index: 2;
}
/* 上に戻るボタン */
.toPageTop {
    position: fixed;
    bottom: 2.5vw;
    right: 5vw;
    z-index: 2;
    width: 100px;
    height: 100px;
}

.toPageTop img {
    width: 50px;
    height: 50px;
    opacity: 0.8;
    transition: 0.3s;
}

.toPageTop img:hover {
    opacity: 1;
}
}